<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DWXBoxHIDDaemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DWXBoxHIDDaemonLauncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>installLoginItem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B24EEE060A4D848700A488B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B24EEE1F0A4D849C00A488B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B24EEE3E0A4D84A900A488B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
